dtaidistance==2.3.10
fastdtw==0.3.4
joblib==1.4.2
matplotlib==3.8.4
numpy==2.0.1
pandas==2.2.2
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.14.0
seaborn==0.13.2
statsmodels==0.14.0
torch==2.3.0
torchvision==0.18.0
tqdm==4.65.0
tslearn==0.5.3.2
